.main {
  display: flex;
  .row {
    margin: 0 0.5rem;
  }
}

.dashboard {
  min-height: 323px;
}

footer {
  position: sticky;
  bottom: 0;
  display: flex;
  min-height: 212px;
  flex-direction: column;
  align-items: center;

  .footerNote {
    font-weight: 100;
    padding: 0 5rem;
  }
}
