.main {
  display: flex;
  .row {
    margin: 0 1rem;
  }
}

footer {
  position: sticky;
  bottom: 0;
  display: flex;
  min-height: 212px;
  flex-direction: column;
  align-items: center;

  .footerNote {
    font-size: 1.875vh;
    font-weight: 100;
  }
}
