img {
  width: 100px;
  height: 75px;
}

.fade-enter .car {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-enter-active .car {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit .car {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit-active .car {
  opacity: 0;
  transform: translateX(100%);
}
.fade-enter-active .car,
.fade-exit-active .car {
  transition: opacity 500ms, transform 500ms;
}
