.parkingSlot {
  max-width: 200px;
  min-width: 63px;
  height: 4vh;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  color: white;
  background-color: darkgray;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 5px 0 10px #000000;
  margin: 0;
  font-size: 0.785rem;
  padding: 1rem;

  @media screen and (min-width: 50rem) {
    margin: 1rem 0;
  }

  &:first-child {
    border-top: 2px solid white;
  }

  &:last-child {
    border-bottom: 2px solid white;
  }
}

.busy {
  background-color: hsl(0, 72%, 59%);

  &:hover {
    cursor: pointer;
  }
}
