.parkingSlot {
  max-width: 270px;
  width: 40vw;
  height: 10vh;
  font-size: 5em;
  border-top: 6px solid white;
  border-left: 6px solid white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 10px 0 10px #000000;

  &:first-child {
    border-top: 6px solid white;
  }

  &:last-child {
    border-bottom: 6px solid white;
  }
}
