.infoBoard {
  border: 1px solid white;
  border-radius: 5px;
  filter: drop-shadow(0 0 0.75rem gray);
  background-color: darkgrey;
  position: relative;
  margin: 0 0.5rem;

  h3 {
    text-align: center;
    margin: 0.3rem 0.3rem 0 0.3rem;
  }

  div {
    display: flex;
    justify-content: center;

    padding: 0.5rem;

    span {
      color: green;
    }
  }
}
